body {
	cursor: url(../img/mira.png), auto !important;
	margin: 0;
	background-color: #161616;
	color: #fdfdfd;	
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #4bedc2;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

button {
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	background: rgba(16,16,16,0.2);
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/*background: rgba(0,0,0,0.7);*/
}

	#overlay button {
		font-family: Arial, Helvetica, sans-serif;
    	text-decoration: none;
		background-color: #161616;
    	color: white;
    	border: 1px solid white;
    	padding: 24px 40px;
    	text-transform: uppercase;
    	letter-spacing: 4px;
    	font-size: 10px;
    	transition: 0.3s;
	}

    #overlay button:hover{
        background: white;
    	color: #161616;
    	transition: 0.3s;
    }
